html, body {
  background: white; 
}

.container {
//background: rgb(212, 212, 212);
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
}

#searchbar {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

h1, h3{
  text-align: center;
  margin-top: 1%;
}
